@import "../../components/common/theme";
@import "../../components/common/mixins";

$root: '.schedule-form';

#{$root} {
  @include block(
          $text-align: center,
          $theme: light,
          $padding: 10px
  );

  @include box-shadow();

  width: 100%;
  color: $color-text;
  box-sizing: border-box;

  &__btns-wrapper {
    @include block(
            $type: flex,
            $flex-wrap: nowrap,
            $align-items: flex-start,
            $padding: 5px
    );
  }

  &__header {
    @include block(
            $text-align: center,
            $padding: 10px
    );

    color: $color-text
  }

  &__btn-icon {
    fill: $color-light;

    &--delete {
      position: relative;
      top: -1px;
    }
  }

  &__input-date,
  &__input-time {
    @include date-picker();

    padding: 5px;
    margin: 5px;
    border: 1px solid $color-text;

    &--selected {
      border-color: $color-secondary;
    }

    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }


  &__input-date {
    &::-webkit-calendar-picker-indicator {
      margin-left: -10px;
    }
  }

  &__week-days {
    @include block(
            $type: flex,
            $flex-wrap: nowrap,
            $text-align: center
    );

    padding: 10px 0;
  }

  &__day-label {
    cursor: pointer;
    flex-grow: 1;

    &:hover {
      color: $color-primary;

      #{$root}__day-checkbox {
        border-color: $color-primary;
      }
    }
  }

  &__day-input {
    display: none;
  }

  &__day-name {
    user-select: none;
    transition-duration: 0.3s;
  }

  &__day-checkbox {
    transition-duration: 0.3s;
    display: block;
    margin: 5px auto;
    width: 10px;
    height: 10px;
    border: 1px solid $color-text;
  }

  &__chekbox-icon {
    position: relative;
    top: -3px;
    width: 12px;
    height: 12px;
    fill: $color-primary;
    transition-duration: 0.3s;
  }

  .btn--success {
    margin-left: auto;
  }
}
