@import "../../components/common/breakpoints";
@import "../../components/common/mixins";
@import "../../components/common/theme";

.registration {
  @include block(
          $type: flex,
          $theme: light,
          $padding: 20px,
          $justify-content: space-around,
          $align-items: stretch,
          $align-content: stretch,
          $flex-direction: column
  );
  @include box-shadow();

  &__input {
    @include input();
  }

  &__input,
  &__label,
  &__btn {
    margin: 10px 0;
  }

  &__link {
    @include clear-link();
  }

  &__btn {
    @include btn();
  }
}
