@import "../common/mixins";
@import "../common/theme";
@import "../common/breakpoints";

.appointment {
  @include block(
          $theme: light,
          $font-size: 12px
  );
  @include box-shadow();

  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;

  &__icon {
    cursor: pointer;

    &--cancel {
      width: 14px;
      height: 14px;
      padding: 15px;
      fill: $color-secondary;
    }

    &--phone {
      width: 20px;
      height: 20px;
      padding: 12px;
      fill: $color-primary;
    }
  }

  &__name {
    color: $color-primary;
    font-weight: bold;
    padding: 10px 0 5px;
  }

  &__phone {
    border-bottom: 1px solid $color-border-lightgrey;

    &:hover {
      animation: svg-pulse 2s infinite;
    }
  }

  &__phone,
  &__cancel {
    text-align: center;
    width: 44px;
    min-height: 44px;
    border-left: 1px solid $color-border-lightgrey;
  }

  &__avatar {
    width: 64px;
    text-align: center;

    .avatar {
      margin: 10px;
      width: 80px;
      height: 80px;
    }
  }

  &__time,
  &__date {
    text-align: right;
    padding: 5px 10px;
  }

  &__link {
    text-decoration: none;
    color: $color-primary;
  }


  @media (min-width: $breakpoint-phone-lg) {
    font-size: 13px;
  }
  @media (min-width: $breakpoint-tablet-sm) {
    font-size: 14px;
  }
  @media (min-width: $breakpoint-tablet-md) {
    font-size: 15px;
  }
  @media (min-width: $breakpoint-desktop-md) {
    font-size: 16px;
  }
}
