@import "../common/mixins";
@import "../common/theme";

.contractor-card {
  @include block(
          $theme: light,
          $margin: 4px,
          $padding: 15px 10px,
          $line-height: 1.5rem
  );
  @include box-shadow();
  @include clearfix();

  &__header {
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    font-weight: 500;
    padding-bottom: 5px;
  }

  &__name {
    font: inherit;
    color: $color-primary;
    margin: 0;
  }

  &__phone {
    @include clear-link();

    font: inherit;
    color: $color-primary;
    white-space: nowrap;
    display: block;

    &:hover {
      .contractor-card__link-icon {
        animation: svg-pulse 2s infinite;
      }
    }
  }

  &__phone-number {
    font: inherit;
    display: inline-block;

    &:before {
      content: '+';
    }
  }

  & &__link {
    @include clear-link();

    margin-top: 1rem;

    @media (min-width: $breakpoint-tablet-sm) {
      margin-left: auto;
      width: 200px;
    }
  }

  &__link-icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    padding-right: 5px;
    fill: $color-primary;
    position: relative;
    top: 4px;
  }

  &__description {
    display: inline;
    color: $color-text;
    text-align: justify;
    min-width: 200px;
    line-height: normal;
  }

  &__avatar-wrapper {
    float: left;
    padding-right: 10px;
  }

  &__separator {
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid $color-border-grey;
    border-radius: 1px;
    height: 0;
  }
}
