@import "../common/theme";
@import "../common/breakpoints";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: $color-background-body;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 45px 1fr;
  grid-template-areas:
     "header header"
     "page-wrapper page-wrapper"
     "navigation navigation"
     "footer footer";

  @media (min-width: $breakpoint-tablet-sm) {
    grid-template-areas:
            "header     header"
            "navigation page-wrapper"
            "footer     footer";
  }
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
  overflow-y: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-area: page-wrapper;
  padding: 10px 5px;
  overflow-y: scroll;

  @media (min-width: $breakpoint-tablet-sm) {
    flex-direction: row-reverse;
  }
}

.sidebar,
.main {
  padding: 5px;
  box-sizing: border-box;

}

.sidebar {
  flex: 1 1 275px;
}
.main {
  width: 100%;
  max-width: 800px;
  flex: 20 1 275px;
  margin: auto;
}

.footer {
  grid-area: footer;
}


//for delete
.sidebar {
  min-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #f8f8f8 2px, #f8f8f8 4px);
}
