@import "../common/mixins";
@import "../common/theme";

.filter {
  @include block(
          $theme: light,
          $padding: 10px,
          $margin: 0 5px 20px
  );
  @include box-shadow();

  &__title {
    text-align: center;
    color: grey;
  }

  &__label {
    cursor: pointer;
    padding: 5px;
  }

  &__label-name {
    @include block(
            $type: inline-block,
            $padding: 5px
    );

    line-height: 2rem;
    color: $color-text;
    font-weight: 600;
  }

  &__input {
    @include block($type: inline-block, $padding: 0 5px);
    @include input();
    @include date-picker();

    background-color: transparent;
    color: $color-primary;
    cursor: pointer;
    box-shadow: none;

    &:invalid {
      color: $color-error;
    }
  }

  &__text-filter {
    @include block(
            $type: flex,
            $flex-wrap: nowrap,
            $padding: 10px,
            $flex-direction: row-reverse
    );

    flex-grow: 1;
  }

  &__icon {
    transition-duration: 0.3s;
    fill: $color-text;
    max-width: 10px;
    max-height: 10px;
    padding-right: 10px;
    flex-shrink: 0;

    &--table,
    &--list {
      max-width: 16px;
      max-height: 12px;
      padding: 0 8px;
    }
  }

  &__input-radio {
    display: none;
  }

  &__input-radio:checked + &__label svg {
    fill: $color-primary;
  }

  &__view-switch {
    padding: 10px;
    margin-left: auto;
  }

  &__input-search {
    @include input();

    width: 100%;
    line-height: 2rem;
    margin-right: auto;

    &:focus {
      flex-grow: 1;
    }
  }

  &__order-select {
    @include btn();
  }

  &__input-search:focus + &__icon,
  &__order-select:focus + &__icon {
    fill: $color-primary;
  }

  &__order-filter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
  }

  & &__btn {
    margin: 0 1rem 0 auto;
  }
}
