@import "../common/theme";
@import "../common/mixins";

.calendar {
  @include block(
          $text-align: center
  );

  width: calc(100% + 8px);
  table-layout: fixed;
  border-spacing: 4px;
  margin: -4px;
  color: $color-text;
  margin-bottom: 20px;

  &__month {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: $color-primary;
    padding: 0 10px;
  }

  &__header {
    @include block(
            $theme: light,
            $text-align: center
    );
    @include box-shadow();

    vertical-align: middle;
    user-select: none;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
  }

  &__td,
  &__th {
    padding: 10px 0;
    font-weight: normal;
    user-select: none;
  }

  &__td {
    background-color: $color-lightgray;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

    &--enable {
      @include box-shadow();

      cursor: pointer;
      font-weight: bold;
      color: $color-primary;
      background-color: $color-light;
    }

    &--active {
      color: $color-light;
      background-color: $color-primary;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }

  &__btn {
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 15px 10px;
    fill: $color-text;
    display: inline-block;
    flex-grow: 1;

    &--active {
      fill: $color-primary;
    }
  }

}
