@import "../common/mixins";
@import "../common/theme";

.header {
  @include block(
          $theme: dark,
          $type: flex,
          $padding: 0 10px
  );
  @include box-shadow();

  position: relative;
  flex: 0 0 auto;

  @media (min-width: $breakpoint-tablet-sm) {
    padding: 10px;
  }

  &__icon {
    &--login {
      display: block;
      width: 25px;
      height: 25px;
      fill: $color-primary;
    }
  }

  &__link {
    display: inline-block;

    &--login {
      display: inline-block;
      padding: 10px;
    }
  }
}
