@import "../../components/common/theme";
@import "../../components/common/mixins";

.user-calendar {
  display: flex;
  flex-wrap: wrap;

  .contractor-card,
  .calendar {
    @media (min-width: $breakpoint-tablet-md) {
      width: calc((100% - 28px)/2);
    }
  }

  .calendar {
    margin: 0;
  }
}
