@import "../common/theme";
@import "../common/mixins";
@import "../common/breakpoints";

.forms {
  &__field {
    @include block(
            $type: grid,
            $grid-columns: 2, $padding: 0);

    margin: 0;

    @media (min-width: $breakpoint-tablet-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $breakpoint-tablet-md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $breakpoint-desktop-sm) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $breakpoint-desktop-md) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $breakpoint-desktop-lg) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media (min-width: $breakpoint-desktop-xl) {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &__input {
    @include block($type: inline-block, $padding: 0 5px);
    @include input();

    &--date {
      @include date-picker();

      background-color: transparent;
      color: $color-primary;
      cursor: pointer;
      box-shadow: none;
    }
  }

  &__label-name {
    @include block(
            $type: inline-block,
            $padding: 5px);
  }

  &__label {
    padding: 5px;
    white-space: nowrap;
  }

  &__results {
    @include block(
            $type: grid,
            $grid-columns: 1, $padding: 0);

    @media (min-width: $breakpoint-tablet-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-tablet-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $breakpoint-desktop-sm) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $breakpoint-desktop-md) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $breakpoint-desktop-lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $breakpoint-desktop-xl) {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}
