@import "../../components/common/theme";
@import "../../components/common/mixins";

.appointments-list {
  @include block();

  width: 100%;

  &__wrapper {
    @include block (
            $type: flex,
            $justify-content: flex-start
    );
  }

  &__item {
    @include block(
            $theme: light,
            $padding: 5px 10px,
            $margin: 5px,
            $font-size: inherit,
            $text-align: center
    );

    @include box-shadow();

    cursor: pointer;
    user-select: none;

    &--active {
      color: $color-light;
      background-color: $color-primary;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &--selected {
      box-shadow: 0 0 0 1px $color-secondary;
    }
  }

  &__btns-wrapper {
    @include block(
            $type: flex,
            $justify-content: flex-end,
            $padding: 10px 0
    );
  }
}
