@import "../common/mixins";

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  box-shadow:
          0 0 0 3px #fff,
          0 1px 6px 0 $color-grey-shadow,
          0 0 6px 0 $color-grey-shadow;

  &__image {
    display: block;
    width: 100%;
  }

  &--label {
    cursor: pointer;
    width: 100px;
    height: 100px;

    &:hover {
      animation: shadow-pulse 2s infinite;
    }

    &__input {
      display: none;
    }
  }

  &--big {
    width: 80px;
    height: 80px;
  }
}
