@import "../../components/common/theme";
@import "../../components/common/mixins";

.schedule {
  @include block(
          $text-align: center
  );

  width: 100%;
  table-layout: fixed;
  border-spacing: 4px;
  color: $color-text;

  &__header {
    @include block(
            $text-align: center,
            $padding: 0 0 10px
    );

    color: $color-text
  }

  &__item-wrapper {
    @include block (
            $type: flex,
            $justify-content: flex-start
    );
  }

  &__item {
    cursor: pointer;
    user-select: none;
    background-color: lighten($color-background, 1.5);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    &--enable {
      @include box-shadow();

      cursor: pointer;
      font-weight: bold;
      color: $color-primary;
      background-color: $color-light;
    }

    &--active {
      color: $color-light;
      background-color: $color-primary;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &--selected {
      box-shadow: 0 0 0 1px $color-secondary;
    }
  }

  &__btns-wrapper {
    @include block(
            $type: flex,
            $padding: 10px 0
    );
  }

  &__btn-icon {
    fill: $color-light;

    &--cancel {
      width: 8px;
      height: 8px;
    }

    &--plus {
      width: 10px;
      height: 10px;
    }
  }

  &__msg {
    padding: 10px 0;
  }

  .btn--success {
    margin-left: auto;
  }
}
